/* Globals */
/* @Nav */
#main_nav, .search {
  padding: 10px 0px; }

#main_nav a {
  padding: 0px 20px;
  margin-right: 25px; }

/* @Index */
#event_container {
  clear: both; }

#event_container, #sidebar {
  margin: 79px 0 0; }

.event {
  padding: 30px 0; }
