%section.grid-12#event_container
  .event
    %h2
      %a{:href => "#"}Geek Lunch
    %time June 18, 2011
    %p We are having a geek lunch on Saturday the 18th at <a href="#">Swig</a> in Perrysburg. Like always it's open to everyone. Come hong out!
  
  .event
    %h2
      %a{:href => "#"}Geek Lunch
    %time June 18, 2011
    %p We are having a geek lunch on Saturday the 18th at Swig in Perrysburg. Like always it's open to everyone. Come hong out!

%section.grid-4#sidebar
  %h3 Other Events
  %ul
    %li Event One
    %li Event Two
    %li Event Three

%p Event 2
