%header
  %span.grid-5
    = image_tag("logo_small.png")
    = link_to "Create an event", new_event_path
    = flash[:notice]
  %nav.grid-7#main_nav
    %a{:href => "#", :class => "current"} Home
    %a{:href => "#"} Blog
    %a{:href => "#"} Events
  %span.search.grid-3
    %input{:type => "text", :value => "Search"}
